.moderngov-article {
    margin-left: 1.863354%;
    width: 74.53416149%;
}

.hidden {
    display: none;
}

.moderngov-nav {
    float: left;
    clear: left;
    width: 23.60248447%;
    padding: 0;
    background:transparent;
}

.nav-menu ul, .nav-menu {
    list-style-type: none;
    margin: 0;
}

ul.nav-menu {
    margin-top: 0;
}

.nav-menu ul {
    background-color: #ebebeb;
    margin: 0;
}

.nav-menu ul:first-child {
    margin-bottom: 30px;
}

.nav-menu ul li {
    padding: 6px 6px 6px 6px;
    border: 1px solid #1472a4;
}

.nav-menu ul li a {
    color: #1a608f;
    text-decoration: none;
}

.nav-menu ul .nav-header {
    background-color: #1472a4;
    color: white;
    text-align: center;
}
