<?xml version="1.0"?>
<configuration>

  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="BaseUrl" value="http://www.eastsussex.gov.uk" />
    </GeneralSettings>
  </EsccWebTeam.EastSussexGovUK>

  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages masterPageFile="~/masterpages/desktop.master">
        <controls>
          <!-- Add controls which are declared at root of site, repeated here in dev only for Visual Studio intellisense-->
          <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
          <add tagPrefix="Egms" namespace="EsccWebTeam.Egms" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        </controls>
      </pages>
    </system.web>

  <system.webServer>
    <handlers accessPolicy="Read, Script" />
  </system.webServer>

</configuration>
